.centrado{
  position: absolute;
  width: 100%;
  height: 92%;
  background-size: 100% 100%;
  background-color: bisque;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formulario{
  width: 1000px;
  max-height: 900px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
  border: none;
  display: flex;
  flex-direction: column;
}

.futer{
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  
}

.listados{
  width: 100%;
  height: 100%;
}
