.listado{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(56, 56, 56);
  border-radius: 3px;
  width: 700px;
  max-height: 600px;
}

.fila{
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

img{
  height: 200px;
  width: 300px;
}

.search-bar{
  width: 100%;
  height: fit-content;
  display: flex;
  padding: 10px;
  background-color: rgb(56, 56, 56);
}
