<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="large"
color="#fff"
type="ball-scale-multiple">
<p style="font-size: 20px; color: white"></p>
</ngx-spinner>


<div class="formulario animate__animated animate__fadeIn" *ngIf="!loading">
  <div class="fila" style="text-align: center;">
    <h1>INGRESE SUS DATOS</h1>
    <hr class="mb-4">
    <br>
  </div>
  <form class="needs-validation" [formGroup]="formGroup" (ngSubmit)="enviarDatos()">
    <mat-divider></mat-divider>
    <div class="fila">
      <div class="col-lg" style="padding: 5px;">
        <label for="correo">Correo electronico</label>
        <input matInput type="email" class="form-control" id="correo" placeholder="Ingrese un correo valido" formControlName="correo" [(ngModel)]="correo">
        <p class="invalid" *ngIf="formGroup.get('correo')?.errors?.email && formGroup.get('correo')?.touched">El formato es invalido</p>
        <p class="invalid" *ngIf="formGroup.get('correo')?.errors?.required && formGroup.get('correo')?.touched">El correo es requerido</p>
      </div>
    </div>
    <div class="fila">
      <div class="col-lg" style="padding: 5px;">
        <label for="clave">Contraseña</label>
        <input matInput type="password" class="form-control" id="clave" placeholder="Ingrese 6 o más digitos" formControlName="clave" [(ngModel)]="clave">
        <p class="invalid" *ngIf="!formGroup.get('clave')?.errors?.required && formGroup.get('clave')?.errors?.menorASeis && formGroup.get('clave')?.touched">Debe ingresar al menos 6 caracteres</p>
        <p class="invalid" *ngIf="formGroup.get('clave')?.errors?.required && formGroup.get('clave')?.touched">La clave es requerida</p>
      </div>
    </div>
    <div class="ultimo">
      <button class="submit" type="submit" [disabled] ="formGroup.invalid">Aceptar</button>
    </div>
  </form>
</div>

<div class="flotantes animate__animated animate__fadeIn" *ngIf="!loading">
    <button (click)="cargarCampos('admin')" style="background-image: url({{imagen}}); background-size: 200px 150px;">Santiago Ortiz Admin</button>
    <button (click)="cargarCampos('vend')" style="background-image: url({{imagen2}}); background-size: 200px 150px;">Pepe Lopez Vendedor</button>
    <button (click)="cargarCampos('comp')" style="background-image: url({{imagen3}}); background-size: 200px 150px;">Leo Diaz Comprador</button>
</div>


