.listado{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(56, 56, 56);
  border-radius: 3px;
  width: 80%;
  height: auto;
}

.fila{
  max-width: 100%;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  overflow-y: hidden;
  overflow-x: scroll;
}
